<div class="text-layout">
  <h1>DecimalPipe y Porcentajes</h1>
  <p>
    Pipes incluidos en angular
  </p>
</div>

<div class="grid">
  <div class="col-4">
    <p-card header="Ventas Netas"
            subheader="Ventas">
            <i class="pi pi-dollar "></i>
    {{ventasNetas +1000000| number:'1.2-2'}}
    </p-card>
  </div>

  <div class="col-4">
    <p-card header="Ventas Brutas"
            subheader="Ventas">

    {{ventasNetas +2000000| currency:'CAD':'symbol-narrow':'1.0-4'}}
    </p-card>
  </div>

  <div class="col-4">
    <p-card header="Ganancia Porcentual"
            subheader="Del Presente año">

    {{ porcentaje | percent:'2.2-2'}}
    </p-card>
  </div>

</div>
