<div class="text-layout">
  <h1> Pipes Basicos </h1>
  <p>Pipes incluidos en Angular - Usualmente en el Common Module.</p>
</div>

<div class="grid">
  <div class="col-4">
    <p-card header="UPPERCASE" [subheader]="nombreLower | uppercase">
      {{nombreLower|uppercase}}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="lowercase" [subheader]="nombreLower | uppercase">
      {{nombreLower|lowercase}}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="titecase" [subheader]="nombreCompleto ">
      {{nombreCompleto | titlecase}}
    </p-card>
  </div>
</div>

<div class="text-layout">
  <h1>Date | Fecha | Pipe</h1>
  <p>Pipe para mostrar las fechas</p>
  </div>

<div class="grid">
  <div class="col-6">
    <p-card>
     <ul>
       <li>fecha</li>
       <li>fecha|date</li>
       <li>fecha|date short</li>
       <li>fecha|date long</li>
       <li>fecha|date MMMMM</li>
       <li>fecha|date MMMMM</li>
       <li>fecha|date MMMMM dd yyyy</li>
     </ul>
    </p-card>
  </div>

  <div class="col-6">
    <p-card>
     <ul>
       <li>{{fecha}}</li>
       <li>{{fecha|date}}</li>
       <li>{{fecha|date:'short'}}</li>
       <li>{{fecha|date:'long'}}</li>
       <li>{{fecha|date:'MMMM'}}</li>
       <li>{{fecha|date:'MMMM dd,yyyy'}}</li>
     </ul>
     <hr>
     <ul>
       <li>{{fecha | date:'long':'GMT-6'}}</li>
     </ul>
    </p-card>
  </div>
</div>


