<div class="text-layout">
  <h1>Pipes no tan comunes</h1>
  <p>
    Pipes incluidos en angular
  </p>
</div>


<div class="grid">
  <div class="col md:col-6 ">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
      <p>
        Saludos {{nombre}}, es un placer
        {{genero | i18nSelect:invitacionMapa}}
        a nuestro evento
      </p>
      <button (click)="cambiarPersona()" pButton label="Cambiar Persona" class="p-button-help"></button>
  </p-fieldset>

  </div>
  <div class="col md:col-6 ">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
      <p>Actualmente tenemos {{clientes.length | i18nPlural:clientesMpa}}</p>
      <button (click)="borrarCliente()" pButton label="Borrar Cliente" class="p-button-danger"></button>
  </p-fieldset>

  </div>

  <div class="col md:col-6 ">
    <p-fieldset legend="Slice Pipe" [toggleable]="true">
      <b>Original</b>
     <pre>{{clientes}}</pre>

     <b>slice:0</b>
     <pre>{{clientes|slice:0}}</pre>

     <b>slice:0:2</b>
     <pre>{{clientes|slice:0:2}}</pre>

     <b>slice:1:2</b>
     <pre>{{clientes|slice:1:2}}</pre>

     <b>slice:1:3</b>
     <pre>{{clientes|slice:1:3}}</pre>

     <b>slice:3:3</b>
     <pre>{{clientes|slice:3:3}}</pre>


  </p-fieldset>

  </div>
  <div class="col md:col-6">
    <p-fieldset legend="KeyValue Pipe" [toggleable]=true>
      <ul>
        <li *ngFor="let item of persona | keyvalue">
          <b>{{item.key}}-{{item.value}}</b>
        </li>
      </ul>

    </p-fieldset>
  </div>

  <div class="col md:col-6">
    <p-fieldset legend="Json Pipe" [toggleable]=true>
      <pre>{{heroes|json}}</pre>
    </p-fieldset>
  </div>
  <div class="col md:col-6">
    <p-fieldset legend="async Pipe" [toggleable]=true>

      <pre *ngIf="!(myObservable|async)">Resolviendo Observable</pre>
      <pre>{{myObservable|async}}</pre>

      <pre *ngIf="!(valorPromesa|async)">Resolviendo Promesa</pre>
      <pre >{{valorPromesa|async}}</pre>
    </p-fieldset>
  </div>

</div>
