<div class="text-layout">
  <h1>Pipes personalizados</h1>
  <p>Pipes creados por {{'nosotros'|mayusculas:enMayusculas }}</p>

</div>
<p-toolbar>
  <div class="p-toolbar-group-left">  </div>
  <div class="p-toolbar-group-right">
    <button (click)="toggleMayuscula()" pButton label=" Toggle mayuscula" class="p-button-danger mr-2"></button>

      <p-button  icon="pi pi-sort"
                 label="Por nombre"
                 class="mr-2"
                 (click)="cambiarOrden('nombre')"></p-button>

      <p-button  icon="pi pi-sort"
                  label="Vuela"
                  styleClass="p-button-success mr-2"
                  (click)="cambiarOrden('vuela')"></p-button>

      <p-button  icon="pi pi-sort"
                  label="Por color"
                  styleClass="p-button-help mr-2"
                  (click)="cambiarOrden('color')"></p-button>

  </div>
</p-toolbar>

<div class="p-grid">
  <div class="p-col mt-2">
    <p-table [value]="heroes|slice:0" responsiveLayout="scroll">
      <ng-template pTemplate="header">
          <tr>
              <th pSortableColumn="nombre">Nombre<p-sortIcon field="nombre"></p-sortIcon></th>
              <th pSortableColumn="vuela">Vuela<p-sortIcon field="vuela"></p-sortIcon></th>
              <th pSortableColumn="color">Color<p-sortIcon field="color"></p-sortIcon></th>

          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-heroe>
          <tr>
              <td>{{heroe.nombre}}</td>
              <td>{{heroe.vuela|vuela}}</td>
              <td>{{heroe.color}}</td>
          </tr>
      </ng-template>
  </p-table>
  </div>
</div>

<div class="p-grid">
  <div class="p-col mt-2">
    <p-table [value]="heroes|ordenar:ordenarPor" responsiveLayout="scroll">
      <ng-template pTemplate="header">
          <tr>
              <th>Nombre</th>
              <th>Vuela</th>
              <th>Color</th>

          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-heroe>
          <tr>
              <td>{{heroe.nombre}}</td>
              <td>{{heroe.vuela|vuela}}</td>
              <td>{{heroe.color}}</td>
          </tr>
      </ng-template>
  </p-table>
  </div>
</div>
