
@import '../node_modules/primeng/resources/themes/vela-blue/theme.css';

@import '../node_modules/primeng/resources/primeng.min.css';

@import '../node_modules/primeicons/primeicons.css';

@import '../node_modules/primeflex/primeflex.css';


html, body {
  margin: 10px;
  background-color: var( --surface-b );
  font-family: var( --font-family );
}
.text-layout{
    color:var(--text-color)
}
